---
twitter_app:
  consumer_key: CONSUMER_KEY
  consumer_secret: CONSUMER_SECRET
accounts:
  NAME:
    deliver_to: TO_EMAIL@gmail.com
    credentials:
      access_token: ACCESS_TOKEN
      access_token_secret: ACCESS_TOKEN_SECRET
      email_address: FROM_EMAIL@gmail.com
      email_password: PASSWORD
    keywords:
    - 1
    - 2
    most_recent_tweet: TWEET_ID